{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	{% if object.get_final_price > 0 %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{message.tags}} alert-dismissible fade show ml-auto mr-auto" style="width: 80%; margin-top: 20px;" role="alert">
		<p style="color: black; margin: 0;">
				<h8>{{message}}</h8>
		</p>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	{% endfor %}
	{% endif %}
	<div class="page-area cart-page spad" style="padding-bottom: 0; padding-top:10px;">
		<div class="container">
			<div class="cart-table">
				<table>
					<thead>
						<tr>
							<th scope="row">#</th>
							<th class="product-th">Product</th>
							<th>Price</th>
							<th>Quantity</th>
							<th class="total-th text-center">Total</th>
						</tr>
					</thead>
					<tbody>
						{% for order_item in object.item.all %}
						<div>
						<tr>
							<td class="product-th pl-5">
								{{forloop.counter}}
							</td>
							<td class="product-col">
								<div class="pc-title">
									<h4>{{order_item.item.name}}</h4>
								</div>
							</td>
							{% if order_item.item.discount_price %}
							<td class="price-col" style="color: green;">${{order_item.item.discount_price}} <span style="color:red; text-decoration: line-through;">${{order_item.item.price}}</span></td>
							{% else %}
							<td class="price-col" style="color: green;">${{order_item.item.price}}</td>
							{% endif %}
							<td>
								<div class="quy-input" style="background: white;">
									<a href="{% url 'ecommerce:remove_one_from_cart' order_item.item.slug order_item.item.pk %}" style="color: black;">
										<i class="fas fa-minus mr-1"></i>
									</a>
									<span>{{order_item.quantity}}</span>
									<a href="{% url 'ecommerce:add_to_cart' order_item.item.slug order_item.item.pk %}" style="color: black;">
										<i class="fas fa-plus ml-1"></i>
									</a>
								</div>
							</td>
							{% if order_item.item.discount_price %}
							<td class="total-col text-center" style="width: 25%;">${{order_item.total_discount_price}} 
								<span style="color: green; text-decoration: underline;">You saved ${{ order_item.get_amount_saved }}</span>
							</td>
							{% else %}
							<td class="total-col text-center">${{order_item.total_item_price}}</td>
							{% endif %}
							<td class="total-col">
								<a href="{% url 'ecommerce:remove_from_cart' order_item.item.slug order_item.item.pk %}">
									<i class="fas fa-trash" style="color: red;"></i>
								</a>
							</td>
						</tr>
						</div>
					</tbody>
					
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="card-warp">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="shipping-info">							
							<h4>Cupon code</h4>
							<p>Enter your cupone code</p>
							<div class="cupon-input">
								<input type="text">
								<button class="site-btn">Apply</button>
							</div>
						</div>
						<div class="row cart-buttons">
							<div class="col-lg-4 mr-auto" style="margin-top: 25%">
								<a class="site-btn btn-continue" href="{% url 'ecommerce:home' %}">Continue shopping</a>
							</div>
						</div>
					</div>
					<div class="offset-lg-2 col-lg-6">
						<div class="cart-total-details">
							<h4>Cart total</h4>
							<p>Final Info</p>
							<ul class="cart-total-card">
								<li class="total">Payable Amount:<span><h4 style="color: green;">${{ object.get_final_price  }}</h4></span></li>
								<li class="total applied_coupoun text-center">No Coupouns Currently:</li>
							</ul>
							<a class="site-btn btn-full" href="{% url 'ecommerce:checkout' %}">Proceed to pay ${{ object.get_final_price  }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="alert alert-warning ml-auto mr-auto" style="width: 80%; margin:10%;" role="alert">
			<h4 class="alert-heading">Oops, Your Cart Is Currently Empty!</h4>
			<p style="color: black;"><h5>Grab something from our varieties of different items!</h5></p>
			<hr>
			<p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis delectus
				accusamus corporis est placeat cumque soluta nulla,
				voluptatibus natus consequuntur velit, reprehenderit eaque,
				adipisci sunt quam libero similique repellat vero.</p>
		</div>
		{% endif %}
	</div>
	<!-- Page end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/mixitup.min.js' %}"></script>
	<script src="{% static 'js/sly.min.js' %}"></script>
	<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	</body>
{% endblock %}

</html>