{% extends 'base.html' %}

{% load static %}

{% block head %}
{% endblock %}
{% block body %}
<body style="overflow-x:hidden">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section -->
	<header class="header-section">
		<div class="container-fluid">
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header section end -->
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{message.tags}} alert-dismissible fade show ml-auto mr-auto" style="width: 80%; margin-top: 20px;" role="alert">
		<p style="color: black; margin: 0;">
				<h8>{{message}}</h8>
		</p>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	{% endfor %}
	{% endif %}
	<!-- Intro section -->
	<section class="text-center mb-4" style="margin-top: 50px;">

		<div class="row wow fadeIn">
			{% for item in object_list %}
			<div class="col-lg-3 col-md-6 mb-4" style="margin-left:50px;">
	
				<div class="card card-cascade card-ecommerce">
					<div class="view view-cascade overlay">
					<img class="card-img-top" style="height: 250px;" src="{{item.image.url}}"
						alt="">
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
					</div>
				
					<!--Card content-->
					<div class="card-body card-body-cascade text-center">
					<!--Category & Title-->
					<h4 class="card-title"><strong><a href="{{item.get_absolute_url}}">{{item.name}}</a></strong></h4>
					<!--Description-->
					<p class="card-text">{{item.description}}
					</p>
				
					<!--Card footer-->
					<div class="card-footer" style="overflow: hidden;">
						<div class="float-left">
							{% if item.discount_price  %}
								<span style="color:green;">{{item.discount_price}}$</span>
								<span style="color:red; text-decoration: line-through;">{{item.price}}$</span>
							{% else %}
								<span style="color:green;">{{item.price}}$</span>
							{% endif %}
						</div>
						<div class="float-right" style="margin-top: 4px;"><a title="Add to Wishlist" href="#"><i
							class="far fa-heart"></i></a></div>
					</div>
				
					</div>
					<!--/.Card content-->
				</div>
				<!--/.Card-->
				</div>
			{% endfor %}
		</div>
			<nav aria-label="Page navigation example" style="margin-left: 40%;">
				<ul class="pagination">
				  <li class="page-item">
					{% if page_obj.has_previous %}
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
					  <span aria-hidden="true">&laquo;</span>
					  <span class="sr-only">Previous</span>
					</a>
					{% endif %}
				  </li>
				  <li class="page-item"><a class="page-link" href="{{ page_obj.number }}">{{ page_obj.number }}</a></li>
				  <li class="page-item">
					{% if page_obj.has_next %}
					<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
					  <span aria-hidden="true">&raquo;</span>
					  <span class="sr-only">Next</span>
					</a>
					{% endif %}
				  </li>
				</ul>
			  </nav>
	  </section>
	<!-- Intro section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/mixitup.min.js' %}"></script>
	<script src="{% static 'js/sly.min.js' %}"></script>
	<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	</body>
{% endblock %}

</html>