{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<style>

.ifield{
    margin-bottom: 10px;
}
p{
    color: black;
}

</style>
<form method="POST">
    <div class="jumbotron text-center">
        <p class="ifield"><h3>reset your password here</h3></p><br>
        {% csrf_token %}
        {{form}} 
        <button class="ifield" type="submit">Submit</button><br>

    </div>

        <div class="text-center">
            {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        </div>
     
</form>


{% endblock %}