{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{message.tags}} alert-dismissible fade show ml-auto mr-auto" style="width: 80%; margin-top: 20px;" role="alert">
		<p style="color: black; margin: 0;">
				<h8>{{message}}</h8>
		</p>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	{% endfor %}
	{% endif %}
	<!-- Page -->
	<div class="page-area product-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 text-center">
					<figure>
						<img class="product-big-img" style="height: 200px; width: 200px;" src="{{object.image.url}}" alt="">
					</figure>
				</div>
				<div class="col-lg-6">
					<div class="product-content">
						<h2>{{ object.name }}</h2>
						<div class="pc-meta">
							{% if object.discount_price %}
							<h3 class="price" style="color: green;">{{object.discount_price}}$</h3>
							<h3 class="price" style="color: red; text-decoration: line-through;">{{object.price}}$</h3>
							{% else %}
							<h3 class="price" style="color: green;">{{object.price}}$</h3>
							{% endif %}
						</div>
						<p>{{ object.description }}</p>
						<a href="{{ object.get_add_to_cart_url }}" class="site-btn btn-line">ADD TO CART</a>
						<a href="{{ object.get_remove_form_cart_url }}" class="site-btn btn-danger btn-line">Remove From Cart</a>
					</div>
				</div>
			</div>
			<div class="product-details">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Description</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Additional information</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Reviews (0)</a>
							</li>
						</ul>
						<div class="tab-content">
							<!-- single tab content -->
							<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
							</div>
							<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
							</div>
							<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	<!-- Page end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/mixitup.min.js' %}"></script>
	<script src="{% static 'js/sly.min.js' %}"></script>
	<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	</body>
{% endblock %}